@charset "UTF-8";

#title_area:hover .comment {
  transition-property: all;
  transition-duration: 0.5s;
  font-size: 0;
  height: 0 !important;
}

.comment {
  transition-property: all;
  transition-duration: 0.4s;
  font-size: 21px;
  text-align: center;
  color: white;
  opacity: 1;
  user-select: none;
  overflow: hidden;
  margin: 0;
  height: 0;
  /* font-family: 'Abel', sans-serif; */
}
