@charset "UTF-8";

.sign {
  transition-property: all;
  transition-duration: 0.7s;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 0;
}

.sign .input_area {
  display: flex;
  flex-direction: column;
}

.sign input {
  transition-property: all;
  transition-duration: 0.5s;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  opacity: 0.6;
}
.sign input:hover {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1;
}

.sign .submit {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 0.3;
  background-color: black;
  font-family: sans-serif;
  font-size: 20px;
  user-select: none;
  text-align: center;
  width: 103px;
}
.sign .submit:hover {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1;
}
