@charset "UTF-8";

.title_area {
  display: flex;
  flex-direction: column;
}
.title_area:hover .comment {
  transition-property: all;
  transition-duration: 0.4s;
  font-size: 0;
  height: 0 !important;
}

.title {
  transition-property: all;
  transition-duration: 0.4s;
  font-family: sans-serif;
  font-size: 100px;
  color: white;
  opacity: 1;
  user-select: none;
  margin: 0;
  text-align: center;
}
.title:hover {
  transition-property: all;
  transition-duration: 0.4s;
  font-size: 120px;
}

.comment {
  transition-property: all;
  transition-duration: 0.4s;
  font-family: sans-serif;
  font-size: 21px;
  text-align: center;
  color: white;
  opacity: 1;
  user-select: none;
  overflow: hidden;
  margin: 0;
  height: 0;
}

.link {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 10px;
  opacity: 0;
  color: white;
  background-color: black;
  font-size: 30px;
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  user-select: none;
  transition-property: all;
  transition-duration: 0.5s;
  cursor: default;
}
.link:hover {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1 !important;
  /* font-size: 40px; */
}

.sign {
  transition-property: all;
  transition-duration: 0.7s;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 0;
}

.sign .input_area {
  display: flex;
  flex-direction: column;
}

.sign input {
  transition-property: all;
  transition-duration: 0.5s;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  opacity: 0.6;
}
.sign input:hover {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1;
}

.sign .submit {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 0.3;
  background-color: black;
  font-family: sans-serif;
  font-size: 20px;
  user-select: none;
  text-align: center;
  width: 103px;
}
.sign .submit:hover {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1;
}
