@charset "UTF-8";

.sign {
  transition-property: all;
  transition-duration: 0.7s;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 0;
}

.sign .input_area {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.sign input {
  transition-property: all;
  transition-duration: 0.5s;
  color: white;
  border: 0;
  outline: 0;
  padding: 8px;
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  background-color: black;
  opacity: 0.6;
}
.sign input:hover {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1;
}

.sign input[type=submit] {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 0.3;
  background-color: black;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  user-select: none;
  text-align: center;
  width: 103px;
}
.sign input[type=submit]:hover {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 1;
}
